---
layout: default
---

<div class="pg-index__row">
  <section class="section-box section-box--recentposts">
    <h4>Latest Posts</h4>
    <div class="section-box__content article-list">
      {% for post in paginator.posts %}
      <article class="post-item">
        <header class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-item__title">{{ post.title }}</a>
        </header>
        <p class="article__content">{{ post.content | strip_html | truncatewords:75}}</p>
        <footer class="article__meta post-item__meta">
          <span class="tags">
            <!--TODO!!! add tag feature-->
            <a href="/"><i class="fa fa-tag"></i><span>test-tag</span></a>
          </span>
          <span class="date">
            <i class="fa fa-calendar"></i>
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          </span>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <span>&laquo;</span><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> prev</a>
  {% else %}
    <span>&laquo; prev</span>
  {% endif %}

  <span class="page">&dash; {{ paginator.page }} &dash;</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">next </a><span>&raquo;</span>
  {% else %}
    <span>next &raquo;</span>
  {% endif %}
</nav>
{% endif %}
</div>
