---
layout: default
---

<div class="pg-index__row">
  <section class="section-box section-box--recentposts">
    <h4>Latest Posts</h4>
    <div class="section-box__content article-list">
      {% for post in paginator.posts %}
      <article class="post-item">
        <header class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-item__title">{{ post.title }}</a>
        </header>
        <p class="article__content"> 前言 
           一位计算机前辈曾说过： 
            Controlling complexity is the essence of computer programming.  
           随着前端开发复杂度的日益提升，组件化开发应运而生，并随着 FIS、React 等优秀框架的出现遍地开花。这一过程同样发生在美团，面临业务规模的快速发展和工程师团队的不断扩张，我们历经引入组件化解决资源整合问题、逐步增强组件功能促进开发效率、重新打造新一代组件化方案适应全栈开发和共享共建等阶段，努力“controlling complexity”。本 ...
        </p>
        <footer class="article__meta post-item__meta">
          <span class="tags">
            <a href="/tag/front-end"><i class="fa fa-tag"></i><span>front-end</span></a>
            <a href="/tag/component"><i class="fa fa-tag"></i><span>component</span></a>
            <a href="/tag/reduce"><i class="fa fa-tag"></i><span>reduce</span></a>
            <a href="/tag/turbo"><i class="fa fa-tag"></i><span>turbo</span></a>
          </span>
          <span class="date">
            <i class="fa fa-calendar"></i>
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          </span>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <span>&laquo;</span><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> prev</a>
  {% else %}
    <span>&laquo; prev</span>
  {% endif %}

  <span class="page">&dash; {{ paginator.page }} &dash;</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">next </a><span>&raquo;</span>
  {% else %}
    <span>next &raquo;</span>
  {% endif %}
</nav>
{% endif %}
</div>
