/**
 * Page header
 */
.site-header {
    background-color: #2a3440;
    height: 50px;
}
.site-header-wrapper {
    width: $content-width;
    margin: 0 auto;
    padding-top: 2px;
}
.site-title a {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.site-subtitle {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-size: 11px;
}

/**
 * Page styling
 */
section.container { 
    margin: 0 auto; 
    width: $content-width; 
}
section.main { 
  clear: both; 
  margin-top: 45px;
}